git
python-dev
mpg123
python-feedparser 
festival
libboost-dev
libboost-regex-dev
youtube-dl
axel
curl
xterm
libcurl4-gnutls-dev
flac
sox
minicom       
apache2
python-matplotlib 
i2c-tools  
python-smbus
postfix
mailutils
libsasl2-2
ca-certificates 
libsasl2-modules
apache2
libapache2-mod-wsgi
libapache2-mod-python
memcached
python-dev
python-cairo-dev
python-ldap
python-memcache
python-pysqlite2
sqlite3
erlang-os-mon
erlang-snmp
rabbitmq-server
python-setuptools
httpd
httpd-tools
apache2-utils
webmin
alsa-utils
