body{font-family:helvetica,serif;}

/*  Thermometer  */

#content {
    width:100px;
    margin:30px auto;
    padding:0px;
}

#thermometer {
    width:65px;
    height:200px;
    position: relative;
}

#thermometer .track {
    height:180px;
    top:10px;
    width:50px;
    position: relative;
    margin:0 auto;
    background: #bfbfbf;
    background-position: 0 -1px;
    background-size: 100% 5%;
    border-radius:3px;
}

#thermometer .progress {
    height:0%;
    width:100%;
    background: #00f;
    border-radius:3px;
    position: absolute;
    bottom:0;
    left:0;
}

#thermometer .goal {
    position:absolute;
    top:-10px;
    width: 150px;
}

#thermometer .amount {
    display: inline-block;
    padding:0 5px 0 60px;
    font-family: Trebuchet MS;
    font-weight: bold;
    color:#f00;
    width: 70px;
}

#thermometer .progress .amount {
    padding:0 60px 0 5px;
    position: absolute;
    border-top:1px solid #fff;
    color:#ff0;
    right:0;
}

/* Bottem Button */

.btm-btn{
    background: #00f;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: -20px -25px;
    padding: 25px 32px;
    text-decoration: none;
}
