[Desktop Entry]
Name=Epiphany Web Browser
Name[am]=ጥምቀት የዌብ መቃኛ
Name[an]=Navegador web Epiphany
Name[ar]=متصفّح الوِب إبِفَني
Name[as]=Epiphany ৱেব-ব্ৰাউছাৰ
Name[ast]=Restolador Web Epiphany
Name[az]=Epiphany Veb Səyyahı
Name[be]=Сеціўны аглядальнік Epiphany
Name[be@latin]=Web-hartač Epiphany
Name[bg]=Интернет браузър (Epiphany)
Name[bn]=এপিফ্যানি ওয়েব ব্রাউজার
Name[bn_IN]=Epiphany  ওয়েব ব্রাউজার
Name[br]=Furcher Web Epiphany
Name[bs]=Epiphany web preglednik
Name[ca]=Navegador web Epiphany
Name[ca@valencia]=Navegador web Epiphany
Name[cs]=Prohlížeč WWW Epiphany
Name[cy]=Y Porwr Gwe Epiphany
Name[da]=Epiphany - internetbrowser
Name[de]=Epiphany Webbrowser
Name[dz]=ཨི་པི་ཕ་ནི་ ཝེབ་ བརའུ་ཟར།
Name[el]=Περιηγητής διαδικτύου Epiphany
Name[en@shaw]=·𐑦𐑐𐑦𐑓𐑩𐑯𐑦 𐑢𐑧𐑚 𐑚𐑮𐑬𐑟𐑼
Name[en_CA]=Epiphany Web Browser
Name[en_GB]=Epiphany Web Browser
Name[eo]=Retfoliumilo Epifanio
Name[es]=Navegador web Epiphany
Name[et]=Epiphany veebisirvija
Name[eu]=Epiphany web arakatzailea
Name[fa]=مرورگر وب اِپیفانی
Name[fi]=Epiphany-selain
Name[fr]=Navigateur Web Epiphany
Name[ga]=Brabhsálaí Gréasáin Epiphany
Name[gl]=Navegador web Epiphany
Name[gu]=એપીફની વૅબ બ્રાઉઝર
Name[gv]=Epiphany Jeeagheyder Eddyr-voggyl
Name[he]=דפדפן Epiphany
Name[hi]=एपीफेनी वेब ब्राउसर
Name[hr]=Epiphany internet preglednik
Name[hu]=Epiphany webböngésző
Name[hy]=Էպիֆանի Վեբ Զննիչ
Name[id]=Peramban Web Epiphany
Name[ig]=Omenchọgharị wéèbụ̀ Epiphany
Name[it]=Browser web Epiphany
Name[ja]=Epiphany ウェブブラウザー
Name[ka]=ვებ ბრაუზერი Epiphany
Name[km]=កម្មវិធី​រុករក​បណ្ដាញ​របស់ Epiphany
Name[kn]=Epiphany ಜಾಲ ವೀಕ್ಷಕ
Name[ko]=에피퍼니 웹 브라우저
Name[ku]=Geroka Torê Epiphany
Name[li]=Epiphany Web Browser
Name[lt]=Žiniatinklio naršyklė Epiphany
Name[lv]=Epiphany tīmekļa pārlūks
Name[mai]=एपीफेनी वेब ब्राउसर
Name[mg]=Mpitety tranonkalan'ny Epiphany
Name[mk]=Epiphany веб прелистувач
Name[ml]=എപ്പിഫാനി വെബ്ബ് ബ്രൌസ‌ര്‍
Name[mn]=Epiphany веб хөтөч
Name[mr]=एपिफनि वेब ब्राउझर
Name[ms]=Pelungsur Web Epiphany
Name[nb]=Epiphany nettleser
Name[nds]=Epiphany Netkieker
Name[ne]=इपिफ्यानी वेब ब्राउजर
Name[nl]=Epiphany webbrowser
Name[nn]=Epiphany nettlesar
Name[oc]=Navigador Epiphany
Name[or]=ଏପିଫାନୀ ଓ୍ବେବ-ବ୍ରାଉଜର
Name[pa]=ਏਪੀਫਾਨੀ ਵੈੱਬ ਝਲਕਾਰਾ
Name[pl]=Przeglądarka WWW Epiphany
Name[pt]=Navegador Web Epiphany
Name[pt_BR]=Navegador da web Epiphany
Name[ro]=Navigatorul Epiphany
Name[ru]=Веб-браузер Epiphany
Name[sk]=Epiphany - webový prehliadač
Name[sl]=Spletni brskalnik Epiphany
Name[sq]=Epiphany - Browser web
Name[sr]=Веб прегледник Спознаја
Name[sr@latin]=Veb preglednik Spoznaja
Name[sv]=Webbläsaren Epiphany
Name[ta]=எபிபனி(Epiphany)  இணைய உலாவி
Name[te]=ఎపిఫని జాల విహారిణి
Name[th]=เว็บเบราว์เซอร์ Epiphany
Name[tk]=Epiphany Web Ahtarçisi
Name[tr]=Epiphany Web Tarayıcı
Name[ug]=Epiphany توركۆرگۈ
Name[uk]=Навігатор тенет Epiphany
Name[uz]=Epiphany veb brauzeri
Name[uz@cyrillic]=Epiphany веб браузери
Name[vi]=Bộ Duyệt Web Epiphany
Name[wa]=Betchteu waibe epiphany
Name[yo]=Awáròyìn Wẹ́ẹ̀bù Epiphany
Name[zh_CN]=Epiphany 网络浏览器
Name[zh_HK]=Epiphany 網頁瀏覽器
Name[zh_TW]=Epiphany 網頁瀏覽器
GenericName=Web Browser
GenericName[an]=Navegador web
GenericName[ar]=متصفّح وب
GenericName[as]=ৱেব ব্ৰাউছাৰ
GenericName[ast]=Restolador Web
GenericName[az]=Veb Səyyahı
GenericName[be]=Сеціўны аглядальнік
GenericName[be@latin]=Web-hartač
GenericName[bg]=Интернет браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bn_IN]=ওয়েব ব্রাউজার
GenericName[br]=Furcher Web
GenericName[bs]=Web preglednik
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Prohlížeč WWW
GenericName[cy]=Porwr Gwe
GenericName[da]=Internetbrowser
GenericName[de]=Webbrowser
GenericName[dz]=ཝེབ་ བརའུ་ཟར།
GenericName[el]=Περιηγητής ιστοσελίδων
GenericName[en@shaw]=𐑢𐑧𐑚 𐑚𐑮𐑬𐑟𐑼
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[eo]=Retumilo
GenericName[es]=Navegador web
GenericName[et]=Veebisirvija
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[gl]=Navegador web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[gv]=Jeeagheyder Eddyr-voggyl
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Internet preglednik
GenericName[hu]=Webböngésző
GenericName[hy]=Զննիչ
GenericName[id]=Peramban Web
GenericName[ig]=Omenchọgharị Wéèbụ̀
GenericName[it]=Browser web
GenericName[ja]=GNOME ウェブブラウザー
GenericName[ka]=ვებ ბრაუზერი
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka Torê
GenericName[li]=Wèb Browser
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[mai]=वेब ब्राउज़र
GenericName[mg]=Mpitety tranonkala
GenericName[mk]=Веб прелистувач
GenericName[ml]=വെബ്ബ് ബ്രൌസര്‍
GenericName[mn]=Вэб хөтөч
GenericName[mr]=वेब ब्राउझर
GenericName[ms]=Pelungsur Web
GenericName[nb]=Nettleser
GenericName[nds]=Netkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[oc]=Navigaire web
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର
GenericName[pa]=ਵੈੱਬ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka WWW
GenericName[ps]=ګورت لټونی
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da web
GenericName[ro]=Navigator Internet
GenericName[ru]=Веб-браузер
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sq]=Browser web
GenericName[sr]=Веб прегледник
GenericName[sr@latin]=Veb preglednik
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[te]=జాల విహారిణి
GenericName[tg]=Браузери веб
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tk]=Web Ahtarçysy
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Навігатор тенет
GenericName[uz]=Veb brauzer
GenericName[uz@cyrillic]=Веб браузер
GenericName[vi]=Bộ duyệt Web
GenericName[wa]=Betchteu waibe
GenericName[yo]=Awáròyìn Wẹ́ẹ̀bù
GenericName[zh_CN]=Web 浏览器
GenericName[zh_HK]=網頁瀏覽器
GenericName[zh_TW]=網頁瀏覽器
X-GNOME-FullName=Epiphany Web Browser
X-GNOME-FullName[am]=ጥምቀት የዌብ መቃኛ
X-GNOME-FullName[an]=Navegador web Epiphany
X-GNOME-FullName[ar]=متصفّح الوِب إبِفَني
X-GNOME-FullName[as]=Epiphany ৱেব-ব্ৰাউছাৰ
X-GNOME-FullName[ast]=Restolador Web Epiphany
X-GNOME-FullName[az]=Epiphany Veb Səyyahı
X-GNOME-FullName[be]=Сеціўны аглядальнік Epiphany
X-GNOME-FullName[be@latin]=Web-hartač Epiphany
X-GNOME-FullName[bg]=Интернет браузър (Epiphany)
X-GNOME-FullName[bn]=এপিফ্যানি ওয়েব ব্রাউজার
X-GNOME-FullName[bn_IN]=Epiphany  ওয়েব ব্রাউজার
X-GNOME-FullName[br]=Furcher Web Epiphany
X-GNOME-FullName[bs]=Epiphany web preglednik
X-GNOME-FullName[ca]=Navegador web Epiphany
X-GNOME-FullName[ca@valencia]=Navegador web Epiphany
X-GNOME-FullName[cs]=Prohlížeč WWW Epiphany
X-GNOME-FullName[cy]=Y Porwr Gwe Epiphany
X-GNOME-FullName[da]=Epiphany - internetbrowser
X-GNOME-FullName[de]=Epiphany Webbrowser
X-GNOME-FullName[dz]=ཨི་པི་ཕ་ནི་ ཝེབ་ བརའུ་ཟར།
X-GNOME-FullName[el]=Περιηγητής διαδικτύου Epiphany
X-GNOME-FullName[en@shaw]=·𐑦𐑐𐑦𐑓𐑩𐑯𐑦 𐑢𐑧𐑚 𐑚𐑮𐑬𐑟𐑼
X-GNOME-FullName[en_CA]=Epiphany Web Browser
X-GNOME-FullName[en_GB]=Epiphany Web Browser
X-GNOME-FullName[eo]=Retfoliumilo Epifanio
X-GNOME-FullName[es]=Navegador web Epiphany
X-GNOME-FullName[et]=Epiphany veebisirvija
X-GNOME-FullName[eu]=Epiphany web arakatzailea
X-GNOME-FullName[fa]=مرورگر وب اِپیفانی
X-GNOME-FullName[fi]=Epiphany-selain
X-GNOME-FullName[fr]=Navigateur Web Epiphany
X-GNOME-FullName[ga]=Brabhsálaí Gréasáin Epiphany
X-GNOME-FullName[gl]=Navegador web Epiphany
X-GNOME-FullName[gu]=એપીફની વૅબ બ્રાઉઝર
X-GNOME-FullName[gv]=Epiphany Jeeagheyder Eddyr-voggyl
X-GNOME-FullName[he]=דפדפן Epiphany
X-GNOME-FullName[hi]=एपीफेनी वेब ब्राउसर
X-GNOME-FullName[hr]=Epiphany internet preglednik
X-GNOME-FullName[hu]=Epiphany webböngésző
X-GNOME-FullName[hy]=Էպիֆանի Վեբ Զննիչ
X-GNOME-FullName[id]=Peramban Web Epiphany
X-GNOME-FullName[ig]=Omenchọgharị wéèbụ̀ Epiphany
X-GNOME-FullName[it]=Browser web Epiphany
X-GNOME-FullName[ja]=Epiphany ウェブブラウザー
X-GNOME-FullName[ka]=ვებ ბრაუზერი Epiphany
X-GNOME-FullName[km]=កម្មវិធី​រុករក​បណ្ដាញ​របស់ Epiphany
X-GNOME-FullName[kn]=Epiphany ಜಾಲ ವೀಕ್ಷಕ
X-GNOME-FullName[ko]=에피퍼니 웹 브라우저
X-GNOME-FullName[ku]=Geroka Torê Epiphany
X-GNOME-FullName[li]=Epiphany Web Browser
X-GNOME-FullName[lt]=Žiniatinklio naršyklė Epiphany
X-GNOME-FullName[lv]=Epiphany tīmekļa pārlūks
X-GNOME-FullName[mai]=एपीफेनी वेब ब्राउसर
X-GNOME-FullName[mg]=Mpitety tranonkalan'ny Epiphany
X-GNOME-FullName[mk]=Epiphany веб прелистувач
X-GNOME-FullName[ml]=എപ്പിഫാനി വെബ്ബ് ബ്രൌസ‌ര്‍
X-GNOME-FullName[mn]=Epiphany веб хөтөч
X-GNOME-FullName[mr]=एपिफनि वेब ब्राउझर
X-GNOME-FullName[ms]=Pelungsur Web Epiphany
X-GNOME-FullName[nb]=Epiphany nettleser
X-GNOME-FullName[nds]=Epiphany Netkieker
X-GNOME-FullName[ne]=इपिफ्यानी वेब ब्राउजर
X-GNOME-FullName[nl]=Epiphany webbrowser
X-GNOME-FullName[nn]=Epiphany nettlesar
X-GNOME-FullName[oc]=Navigador Epiphany
X-GNOME-FullName[or]=ଏପିଫାନୀ ଓ୍ବେବ-ବ୍ରାଉଜର
X-GNOME-FullName[pa]=ਏਪੀਫਾਨੀ ਵੈੱਬ ਝਲਕਾਰਾ
X-GNOME-FullName[pl]=Przeglądarka WWW Epiphany
X-GNOME-FullName[pt]=Navegador Web Epiphany
X-GNOME-FullName[pt_BR]=Navegador da web Epiphany
X-GNOME-FullName[ro]=Navigatorul Epiphany
X-GNOME-FullName[ru]=Веб-браузер Epiphany
X-GNOME-FullName[sk]=Epiphany - webový prehliadač
X-GNOME-FullName[sl]=Spletni brskalnik Epiphany
X-GNOME-FullName[sq]=Epiphany - Browser web
X-GNOME-FullName[sr]=Веб прегледник Спознаја
X-GNOME-FullName[sr@latin]=Veb preglednik Spoznaja
X-GNOME-FullName[sv]=Webbläsaren Epiphany
X-GNOME-FullName[ta]=எபிபனி(Epiphany)  இணைய உலாவி
X-GNOME-FullName[te]=ఎపిఫని జాల విహారిణి
X-GNOME-FullName[th]=เว็บเบราว์เซอร์ Epiphany
X-GNOME-FullName[tk]=Epiphany Web Ahtarçisi
X-GNOME-FullName[tr]=Epiphany Web Tarayıcı
X-GNOME-FullName[ug]=Epiphany توركۆرگۈ
X-GNOME-FullName[uk]=Навігатор тенет Epiphany
X-GNOME-FullName[uz]=Epiphany veb brauzeri
X-GNOME-FullName[uz@cyrillic]=Epiphany веб браузери
X-GNOME-FullName[vi]=Bộ Duyệt Web Epiphany
X-GNOME-FullName[wa]=Betchteu waibe epiphany
X-GNOME-FullName[yo]=Awáròyìn Wẹ́ẹ̀bù Epiphany
X-GNOME-FullName[zh_CN]=Epiphany 网络浏览器
X-GNOME-FullName[zh_HK]=Epiphany 網頁瀏覽器
X-GNOME-FullName[zh_TW]=Epiphany 網頁瀏覽器
Comment=Browse the web
Comment[an]=Buscar en a web
Comment[ar]=تصفح الوِب
Comment[as]=ৱেব ব্ৰাউজ কৰক
Comment[ast]=Restola pela web
Comment[az]=Vebi gəzin
Comment[be]=Агляд сеціва
Comment[be@latin]=Prahladaj sieciva
Comment[bg]=Сърфиране в Интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[bn_IN]=ওয়েব ব্রাউজ করুন
Comment[br]=Furchal war ar genrouedad
Comment[bs]=Pregledaj na internetu
Comment[ca]=Navegueu per la web
Comment[ca@valencia]=Navegueu per la web
Comment[cs]=Prohlížet WWW
Comment[cy]=Pori'r we
Comment[da]=Benyt internettet
Comment[de]=Im Web surfen
Comment[dz]=ཝེབ་ བརྡ་འཚོལ་འབད།
Comment[el]=Περιήγηση στον παγκόσμιο ιστό
Comment[en@shaw]=𐑚𐑮𐑬𐑟 𐑞 𐑢𐑧𐑚
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the Web
Comment[eo]=Foliumi la reton
Comment[es]=Navegue por la web
Comment[et]=Veebi sirvimine
Comment[eu]=Arakatu weba
Comment[fa]=مرور وب
Comment[fi]=Selaa verkkosivuja
Comment[fr]=Parcourir le Web
Comment[ga]=Brabhsáil an gréasán
Comment[gl]=Navegar pola web
Comment[gu]=વેબમાં શોધો
Comment[gv]=Jeeagh trooid yn eddyr-voggyl
Comment[he]=גלישה ברשת
Comment[hi]=वेब ब्राउज़ करें
Comment[hr]=Pretraži web
Comment[hu]=A világháló böngészése
Comment[hy]=Զննել վեբը
Comment[id]=Jelajahi web
Comment[ig]=Chọgharịa na wéèbụ̀
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ka]=ვებ-გვერდების დათვალიერება
Comment[km]=រកមើល​បណ្ដាញ
Comment[kn]=ಜಾಲವನ್ನು ವೀಕ್ಷಿಸಿ
Comment[ko]=웹을 돌아 다닙니다
Comment[ku]=Li torê bigere
Comment[li]=Blajere op internet
Comment[lt]=Naršyti žiniatinklį
Comment[lv]=Pārlūkot tīmekli
Comment[mai]=वेब ब्राउज़ करू
Comment[mg]=Hitety tranonkala
Comment[mk]=Прелистувајте го вебот
Comment[ml]=വെബ്ബില്‍ പരതുക
Comment[mn]=Вэб нээх
Comment[mr]=वेब चाळणे
Comment[ms]=Layari web
Comment[nb]=Surf på nettet
Comment[nds]=Netkieken
Comment[ne]=वेब ब्राउज गर्नुहोस्
Comment[nl]=Websurfen
Comment[nn]=Surf på nettet
Comment[or]=ଓ୍ବେବକୁ ଖୋଜନ୍ତୁ
Comment[pa]=ਵੈੱਬ ਦੀ ਝਲਕੀ
Comment[pl]=Przeglądanie stron WWW
Comment[ps]=ګورت لټول
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na web
Comment[ro]=Navigare Internet
Comment[ru]=Веб-браузер
Comment[sk]=Prehliada web
Comment[sl]=Brskanje po spletu
Comment[sq]=Eksploro web-in
Comment[sr]=Прегледајте веб
Comment[sr@latin]=Pregledajte veb
Comment[sv]=Surfa på nätet
Comment[ta]=இணையத்தில் உலாவுதல்
Comment[te]=జాలంలో విహరించండి
Comment[th]=ท่องเว็บ
Comment[tk]=Webi Ahtar
Comment[tr]=Web'e gözat
Comment[ug]=توربەت كۆرۈش پروگراممىسى
Comment[uk]=перегляд інтернету
Comment[uz]=Veb brauzer
Comment[uz@cyrillic]=Веб браузер
Comment[vi]=Duyệt qua Web
Comment[wa]=Naivyî avå les waibes
Comment[yo]=Wáròyìn wẹ́ẹ̀bù náà
Comment[zh_CN]=浏览网络
Comment[zh_HK]=瀏覽網頁
Comment[zh_TW]=瀏覽網頁
Keywords=web;browser;internet;
Keywords[ar]=وب;متصفح;إنترنت;
Keywords[as]=ৱেব;ব্ৰাউছাৰ;ইন্টাৰনেট;
Keywords[be]=сеціва;сетка;аглядальнік;браўзер;гартач;інтэрнэт;павуцінне;
Keywords[bg]=уеб;браузър;интернет;web;browser;internet;
Keywords[ca]=web;navegador;internet;
Keywords[ca@valencia]=web;navegador;internet;
Keywords[cs]=web;www;prohlížeč;internet;
Keywords[da]=web;browser;internet;
Keywords[de]=Web;Browser;Internet;
Keywords[el]=ιστός;εξερευνητής;διαδίκτυο;
Keywords[es]=web;navegador;internet;
Keywords[eu]=weba;arakatzailea;internet;
Keywords[fa]=وب;مرورگر;اینترنت;
Keywords[fi]=web;browser;internet;netti;selain;
Keywords[fr]=web;navigateur;internet;
Keywords[gl]=web;navegador;internet;
Keywords[he]=דפדפן;רשת;אינטרנט;מרשתת;
Keywords[hi]=वेब; ब्राउज़र;इंटरनेट;
Keywords[hu]=web;böngésző;internet;net;
Keywords[id]=web;peramban;internet;
Keywords[it]=web;browser;internet;
Keywords[ja]=web;browser;internet;ウェブブラウザー;インターネット;
Keywords[ko]=web;웹;browser;브라우저;internet;인터넷;
Keywords[lt]=žiniatinklis;naršyklė;internetas;
Keywords[lv]=tīmeklis;pārlūks;internets;web;
Keywords[nb]=web;nettleser;internett;
Keywords[nl]=web;browser;internet;surfen;
Keywords[pl]=www;web;przeglądarka;wyszukiwarka;internet;sieć;
Keywords[pt]=web;navegador;internet;
Keywords[pt_BR]=web;navegador;internet;
Keywords[ru]=веб;браузер;интернет;
Keywords[sk]=web;prehliadač;internet;prehľadávanie;
Keywords[sl]=brskalnik;splet;internet;medmrežje;
Keywords[sr]=веб;прегледник;интернет;
Keywords[sr@latin]=veb;preglednik;internet;
Keywords[ta]=வலை;உலாவி;இணையம்;
Keywords[tr]=web;tarayıcı;internet;
Keywords[ug]=web;browser;internet;توربەت;توركۆرگۈ;ئىنتېرنېت;
Keywords[uk]=веб;інтернет;тенет;переглядач;бравзер;
Keywords[zh_HK]=web;browser;internet;網頁;瀏覽器;互聯網;
Keywords[zh_TW]=web;browser;internet;網頁;瀏覽器;網際網路;
Exec=epiphany-browser %U
StartupNotify=true
Terminal=false
Type=Application
Icon=web-browser
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=epiphany
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.8.2
X-GNOME-UsesNotifications=true
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
