[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shutdown
Comment=Shutdown
Icon=gnome-logout
Exec=sh -c "zenity --text 'Do you want to shutdown now?' --question && sudo shutdown -h now"
NoDisplay=true
